<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <easypaymentgateway>
        <active>1</active>
        <model>EPG\EasyPaymentGateway\Model\Paymentmethod</model>
        <order_status>pending_payment</order_status>
        <title>EPG</title>
        <is_gateway>1</is_gateway>
        <can_use_checkout>1</can_use_checkout>
        <payment_action>authorize_capture</payment_action>
        <epg_sandbox>1</epg_sandbox>
        <epg_debug>1</epg_debug>
      </easypaymentgateway>
    </payment>
  </default>
</config>
