<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="EPGPaymentFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">EPG\EasyPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">EPG\EasyPaymentGateway\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">EPG\EasyPaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">EPGPaymentValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">EPGPaymentValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">EPGPaymentCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="EPGPaymentValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">EPGPaymentConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="EPGPaymentConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">EPG\EasyPaymentGateway\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="EPGPaymentValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="form" xsi:type="string">EPG\EasyPaymentGateway\Gateway\Validator\FormValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="EPGPaymentCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">EPGPaymentCaptureCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="EPGPaymentCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Magento\Payment\Gateway\Request\BuilderComposite</argument>
            <argument name="transferFactory" xsi:type="object">Magento\Braintree\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Magento\Payment\Gateway\Http\Client</argument>
        </arguments>
    </virtualType>
</config>
