<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">

      <div class="epg-form">

        <div class="logos">
            <span class="label" data-bind="i18n: 'Pay with'"></span>
            <span class="epg-logo" data-bind="visible: getEpgData().allowedCards.indexOf('visa') > -1"><img data-bind="attr:{src: getEpgData().moduleImagesUrl + 'visa.png'}" /></span>
            <span class="epg-logo" data-bind="visible: getEpgData().allowedCards.indexOf('master_card') > -1"><img data-bind="attr:{src: getEpgData().moduleImagesUrl + 'master_card.png'}" /></span>
            <span class="epg-logo" data-bind="visible: getEpgData().allowedCards.indexOf('maestro') > -1"><img data-bind="attr:{src: getEpgData().moduleImagesUrl + 'maestro.png'}" /></span>
            <span class="epg-logo" data-bind="visible: getEpgData().allowedCards.indexOf('american_express') > -1"><img data-bind="attr:{src: getEpgData().moduleImagesUrl + 'american_express.png'}" /></span>
        </div>

        <div class="block-form" data-bind="attr: {'data-disable-account-url': getEpgData().removeAccountUrl, 'data-confirm-disable-account': $t('Do you want disable this payment account?')}" id="payment-form" style="padding: 20px 0;">
          <form data-mage-init="{'validation': {}}" id="easypaymentgateway-form" class="form form-easypaymentgateway-order" data-role="easypaymentgateway-form">
           <fieldset class="fieldset payment method" data-bind="attr: {id: 'payment_form_' + getCode()}">

          <div data-bind="visible: getEpgData().accounts != null && getEpgData().accounts.length > 0">
              <div class="accounts-header"><span class="label" data-bind="i18n: 'Please, select a credit or debit card'"></span></div>
              <ul class="accounts">
                <!-- ko foreach: getEpgData().accounts -->
                 <li afterRender="$parent._EPGInitFunctions()">
                     <input data-bind="{attr: {id: 'account' + accountId, value: accountId, checked: $index() == 0 }, checked: $parent.creditCardAccount}" type="radio" name="payment[account]" />
                     <label data-bind="attr: {for: 'account' + accountId, 'data-account-id': accountId }" class="account">
                         <span class="card-type">
                             <strong data-bind="i18n: 'Card type'"></strong> <span data-bind="text: $parent.getAccountInfo($data)['cardType']"></span>
                         </span>
                         <span class="card-masked">
                             <strong data-bind="i18n: 'Card number'"></strong> <span data-bind="text: $parent.getAccountInfo($data)['maskedCardNumber']"></span>
                         </span>
                         <span class="disable"></span>
                     </label>
                 </li>
                 <!-- /ko -->

                 <li>
                     <input id="account0" type="radio" name="payment[account]" value="0" data-bind="checked: creditCardAccount"/>
                     <label for="account0" class="account new-card" data-account-id="">
                         <span class="card-type">
                             <strong><span class="label" data-bind="i18n: 'New card'"></span></strong>
                         </span>
                     </label>
                 </li>
              </ul>
         </div>

         <div class="messages">
           <!-- ko foreach: getRegion('messages') -->
           <!-- ko template: getTemplate() --><!-- /ko -->
           <!--/ko-->
         </div>

             <div class="field card-holder-name required" data-bind="css: {hidden: getEpgData().accounts != null && getEpgData().accounts.length > 0}">
                 <label data-bind="{attr: {for: getCode() + '_card_holder_name'}, i18n: 'Card holder name'}" class="label"></label>
                 <div class="input-box">
                     <input type="text" data-bind="{attr: {title: $t('Card holder name'), id: getCode() + '_card_holder_name'}, value: creditCardHoldName}" data-validate="{required:true}" class="input-text required-entry" name="payment[card_holder_name]" />
                 </div>
             </div>

             <div class="field card-number required" data-bind="css: {hidden: getEpgData().accounts != null && getEpgData().accounts.length > 0}">
                 <label data-bind="{attr: {for: getCode() + '_card_number'}, i18n: 'Credit/Debit card number'}" class="label"></label>
                 <div class="input-box">
                     <input type="text" data-bind="{attr: {title: $t('Credit/Debit card number'), id: getCode() + '_card_number'}, value: creditCardNumber}" class="input-text validate-cc-number required-entry" name="payment[card_number]" />
                 </div>
             </div>

             <div class="field card-cvn required">
                 <label data-bind="{attr: {for: getCode() + '_card_cvn'}, i18n: 'CVN'}" class="label"></label>
                 <div class="input-box">
                     <input type="text" data-bind="{attr: {title: $t('CVN'), id: getCode() + '_card_cvn'}, value: creditCardCvn}" name="payment[card_cvn]" minlength="3" class="input-text validate-cc-cvn required-entry" />
                 </div>
             </div>

             <div class="field card-expiration input-box required" data-bind="css: {hidden: getEpgData().accounts != null && getEpgData().accounts.length > 0}">
                 <label data-bind="{attr: {for: getCode() + '_expiration'}, i18n: 'Expiration Date (MM/YY)'}" class="label"></label>
                 <div class="input-box">
                     <div class="v-fix">
                         <select data-validate="{'required-entry':true}" data-bind="{attr: {id: getCode() + '_card_expiry_month'}, value: creditCardExpMonth}" name="payment[card_expiry_month]" class="month">
                           <!-- ko foreach: getEpgData().months -->
                             <option data-bind="{attr: {value: $data}, text: $data}"></option>
                           <!-- /ko -->
                         </select>
                     </div>
                     <div class="v-fix">
                       <select data-validate="{'required-entry':true}" data-bind="{attr: {id: getCode() + '_card_expiry_year'}, value: creditCardExpYear}" name="payment[card_expiry_year]" class="year">
                         <!-- ko foreach: getEpgData().years -->
                           <option data-bind="{attr: {value: $data}, text: $data}"></option>
                         <!-- /ko -->
                       </select>
                     </div>
                 </div>
             </div>

        </fieldset>
       </form>

      </div><!-- .block-form -->

      <div class="payment-method-billing-address epg-billing-address">
          <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
          <!-- ko template: getTemplate() --><!-- /ko -->
          <!--/ko-->
      </div>

     </div><!-- .epg-form -->

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
